body {
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.8em;
    margin: 0;
    color: #444;
    -webkit-text-size-adjust: none;

    display: grid;
    grid-template-columns: repeat(8, 1fr);

    &.modalopen {
        overflow: hidden;
        position: fixed;
        max-width: 100%;
    }

    &.modalopenfixed {
        position: fixed;
    }

    
    img {
        width: 100%;
    }

    section {
        padding: 3em;
        grid-column: 3 / span 4;

        @media screen and (max-width: 700px) {
            grid-column: 1 / span 12;
        }
    }

    #logo {
        width: 300px;
    }
}